<div class="container">
  <ul class="flex">
    <li>
      <p>
        <img
          alt=""
          height="110"
          src="https://www.awilux.pl/wsCMS/uploads/images/icons/ico-glebokosc.png"
          width="110"
        />
      </p>
      <p>
        Installation depth 90 mm
      </p>
    </li>

    <li>
      <p>
        <img
          alt=""
          height="110"
          src="https://www.awilux.pl/wsCMS/uploads/images/icons/ico-komory.png"
          width="110"
        />
      </p>

      <p>
        Number of chambers 3
      </p>
    </li>

    <li>
      <p>
        <img
          alt=""
          height="110"
          src="https://www.awilux.pl/wsCMS/uploads/images/icons/ico-pakiet-szybowy.png"
          width="110"
        />
      </p>

      <p>
        Glazing package Ug = 0.5
      </p>
    </li>

    <li>
      <p>
        <img
          alt=""
          height="110"
          src="https://www.awilux.pl/wsCMS/uploads/images/icons/ico-przenikanie.png"
          width="110"
        />
      </p>

      <p>
        Permeation coefficient Uw = 0.8 *
      </p>
    </li>

    <li>
      <p>
        <img
          alt=""
          height="110"
          src="https://www.awilux.pl/wsCMS/uploads/images/icons/ico-okucia.png"
          width="110"
        />
      </p>

      <p>
        Winkhaus fittings
      </p>
    </li>
  </ul>
</div>
