<div class="container">
  <ul class="flex">
    <li>
      <p>
        <img
          alt=""
          src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/bialy_9016.jpg"
        />
      </p>
      <p>
        <p>White 9016</p>
      </p>
    </li>

    <li>
      <p>
        <img
          alt=""
         src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/jasno-szary_7035.jpg" /> 
        
      </p>
        <p>Light gray 7035</p>
  
    </li>

    <li>
      <p>
        <img alt="Gray 7038" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/szary_7038.jpg" />
      </p>

      <p>Gray 7038</p>

    </li>

    <li>
      <p>
        <img alt="Silver 9006" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/srebrny_9006.jpg" />
      </p>

      <p>Silver 9006</p>

    </li>

    <li>
      <p>
        <img alt="9007 gray aluminum" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/szare_aluminium_9007.jpg" />
      </p>

      <p>9007 gray aluminum</p>

    </li>

    <li>
      <p>
        <img alt="Metallic bronze 0780" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/braz_metaliczny_0780.jpg" />

      </p>
      <p>Metallic bronze 0780</p>

    </li>

    <li>
      <p>
<img alt="Anthracite 7016" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/antracyt_7016.jpg" />
      </p>
      <p>Anthracite 7016</p>

    </li>
    <li>
      <p>
        <img alt="Ivory 1015" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/kosc_sloniowa_1015.jpg" />
      </p>
      <p>Ivory 1015</p>

    </li>
    <li>
      <p>
        <img alt="Light beige 0003" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/bez_jasny_0003.jpg" />      </p>
      <p>Light beige 0003</p>

    </li>
    <li>
      <p>
        <img alt="Dark beige 0110" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/bez_ciemny_0110.jpg" />      </p>
        <p>Dark beige 0110</p>

    </li>
    <li>
      <p>
        <img alt="Light brown 8014" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/braz_jasny_8014.jpg" />      </p>
        <p>Light brown 8014</p>

    </li>
    <li>
      <p>
        <img alt="Dark brown 8077" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/braz_ciemny_8077.jpg" />       
        <p>Dark brown 8077</p>


    </li>
    <li>
      <p>
        <img alt="Light brown 8014" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/braz_jasny_8014.jpg" />      </p>
        <p>Light brown 8014</p>

    </li>
    <li>
      <p>
        <img alt="Golden Oak 6105" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/zloty_dab_6105.jpg" />

        <p>Golden Oak 6105</p>  

    </li>
    <li>
      <p>
        <img alt="Golden Oak 6105" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/zloty_dab_6105.jpg" />

        <p>Golden Oak 6105</p>  

    </li>
    <li>
      <p>
        <img alt="DB703" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/db703.jpg" />
        <p>DB703</p>

    </li>
    <li>
      <p>
        <img alt="Red 0330" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/czerwony_0330.jpg" />
        <p>Red 0330</p>

    </li>
    <li>
      <p>
        <img alt="Green 6005" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/zielony_6005.jpg" />
        <p>Green 6005</p>
    </li>
    <li>
      <p>
        <img alt="Light wood 6104" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/jasne_drewno_6104.jpg" />
        <p>Light wood 6104</p>
      </li>
    <li>
      <p>
        <img alt="Mahogany 0011" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/machon_0011.jpg" />
        <p>Mahogany 0011</p>
      </li>
    <li>
      <p>
        <img alt="Swamp oak" src="https://www.awilux.pl/wsCMS/uploads/images/thumbs_crop/dab_bagienny.jpg" />
        <p>Swamp oak</p>
      </li>
  </ul>
</div>
